.centerDiv {
    display: table;
    margin: auto;
}

.contactSection {
    padding: 5% 0;
    margin: 0;
    color: $titleColor;
}

.contactTitle {
    color: $titleColor;
    font-size: 30px;
    font-weight: 700;
}

.contactSubtitle {
    font-weight: 400;
    color: $subtitleColor;
    letter-spacing: 1px;
    font-size: 14px;
}

.listLink > li > a {
    color: grey;
}

.contactBtn {
    background-color: $mainColor;
    color: white
}

@media(max-width:576px){
    .footer {
        text-align: center;
    }

    .listLink {
        display: none;
    }

    .contactForm {
        margin-top: 3%;
    }
}