@media(min-width:1140px){

    .containerContact {
        min-height: calc(81vh)
    }
}

@media(min-width: 720px){

    .containerContact {
        min-height: calc(82vh)
    }
}

@media(max-width: 540px){

    .containerContact {
        min-height: calc(76vh)
    }
}