.centerDiv {
    display: table;
    margin: auto;
}

.title {
    font-weight: 700;
    color: $titleColor;
    letter-spacing: 2px;
    font-size: 36px;
}

.subtitle {
    font-weight: 400;
    color: $subtitleColor;
    letter-spacing: 1px;
    font-size: 14px;
}

.job {
    font-weight: 600;
    color: $mainColor;
    display: inline-block;
    animation: slideUp .7s ease;
}

.contactBtn {
    background-color: $mainColor;
    color: white
}

.contactBtn:hover {
    color: rgb(231, 228, 228)
}

.img {
    position: relative;
    width: 300px;
    height: 300px;
}

.bgImg {
    position: absolute;
    width: 350px;
    height: 300px;
    right: 0;
    clip-path: circle(67.4% at 68% 77%);
    background-color: $mainColor;
}

.workSection {
    padding: 5% 0;
    margin: 0;
    color: $titleColor;
}

.workYear {
    color: $mainColor;
    font-size: 56px;
    font-weight: 700;
}

.workDescription {
    font-weight: 600;
}

.workDescription p {
    margin: 0;
}

.workTitle {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 5%;
}

.borderColor { border-color: $mainColor;}

.card {
    border-color: $mainColor;
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@media(max-width:576px){

    .title {
        margin-top: 5%
    }

    .imgDiv {
        display: flex;
        justify-content: center;
    }

    .img {
        width: 250px;
        height: 250px;
    }

    .bgImg {
        width: 250px;
        height: 250px;
    }

    .workDiv {
        display: flex;
        justify-content: space-evenly;
    }

    .workTitle {
        text-align: center;
        padding: 0 5%;
    }

    .card {
        margin: 5%;
    }
}